.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // max-width: 1170px;
    margin: 15px 5px;
    box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 30%)
}
.cart-container,
.favorite-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    position: relative;
}

.cart-counter {
position:absolute;
// background-color:#FF2A47;
// border-radius: 50%;
// padding: 5px;
color: #FF2A47;
font-size: 10px;
font-weight: bold;
// width: 10px;
// height: 10px;
top: -8px;
right: 10px;
}
.favorite-counter{
    position:absolute;
// background-color:#FF2A47;
// border-radius: 50%;
padding: 5px;
color: white;
font-size: 10px;
width: 10px;
height: 10px;
top: -15px;
right: 6px;
font-weight: bold;
}

.header-title {
    font-size: 36px;
    font-weight: bold;
    margin: 15px;
    text-transform: uppercase;
    color: #FF2A47
}

.icon-wrapper {
    display: flex;
    margin-right: 20px;
}

.cart-counter, 
.favorite-counter {
    margin-left:10px;
    font-size: 18px;


}